.education {
  --bg-color: #ffd861;
  --bg-color-light: #ffeeba;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(255, 215, 97, 0.48);
}


.cardHover {
  width: 220px;
  height: 321px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardHover:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);

}

.cardHover:hover .overlay {
  transform: scale(4) translateZ(0);
}



.cardHover:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.cardHover:hover .circle:after {
  background: var(--bg-color-light);
}

.cardHover:hover p {
  color: var(--text-color-hover);
}

.cardHover:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
}

.cardHover p {
  font-size: 17px;
  color: #4C5656;
  margin-top: 30px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.circle {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.icon {
  z-index: 10000;
  transform: translateZ(0);
  font-size: 30px;
  transition: all 0.15s ease-out;
}
.cardHover:hover .icon {
  opacity: 0;
}
.overlay {
  width: 118px;
  height: 118px;
  border-radius: 50%;
  background: var(--primary);
  top: 70px;
  left: 50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}