.dashCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

.sorryDiv {
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.chartGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.chardCard {
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 30px;
    padding-bottom: 70px;
}