.mainCont {
    display: grid;
    grid-template-columns: 30% auto;
    width: 100%;
    column-gap: 20px;
}
.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    text-align: center;
}
.leftSection{
    justify-content: center;
}
.rightSection{
   
}
.title{
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3;
}
.templateText{
    color: #555ea3;
}
.subTitle{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: #6a7695;
}
.img{
    width: 400px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.blur{
    position: absolute;
    width: 250px;
    height: 250px;
    filter: blur(100px);
    background: rgba(70, 70, 70, 0.2);
    top: 0;
    right: 125px;
}
@media only screen and (max-width: 800px) {
    .mainCont {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    .section{
        text-align: start;
    }
    .img{
        width: 300px;
    }
}