.container {
    padding-inline: 40px;

    width: 50%;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.title {
    margin-bottom: 5px;
    color: var(--text-fade);
}

.progress {
    color: var(--text-fade);
    font-weight: 500;
}

.progressBar {
    background-color: var(--primary);
    height: 5px;
    border-radius: 20px;
}

.progressContainer {
    background-color: #c1bbfd;
    height: 5px;
    border-radius: 20px;
}

.grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
}

@media only screen and (max-width: 900px) {
    .grid{
        flex-direction: column;
    }
    .container{
        width: 100%;
    }
}