.pageLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 100px; 
}

.title {
    text-align: center;
}

.portfolioContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}
.lst {
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    padding-top: .7rem;
    padding-bottom: .7rem;
    border-radius: 9999px;
    cursor: pointer;
    align-items: center;
    display: flex;
    width: fit-content;
    background-color: var(--secondary);
    color: var(--text);
}
.lst:hover {
    background-color: var(--secondary-select);
}
@media only screen and (max-width: 700px) {
    .pageLayout{
        height: auto;
        margin-top: 200px;
    }
}