.mainContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    row-gap: 20px;
}

.circleImage {
    border-radius: 50%;
    outline: 1px solid darkorange;
    border: 1px solid white;
    margin-bottom: 20px;
    object-fit: cover;
    aspect-ratio: 1;
} 

.floatingImage {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    aspect-ratio: 1;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, -0px);
    }
}


.header {
    color: var(--text);
    font-weight: 800;
    font-size: 2.4rem;
}

.subtitle {
    font-size: .9rem;
    line-height: 1.65rem;
    margin-bottom: 32px;
    color: var(--text-fade);
}

.blur {
    position: absolute;
    width: 20vw;
    height: 20vw;
    min-width: 350px;
    min-height: 350px;
    border: 764px;
    background: var(--primary);
    opacity: 0.199;
    filter: blur(150px);
}

.rightImage {
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;
}

@media only screen and (max-width: 900px) {
    

    .circleImage {
        display: none;
    }

    .mainContainer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items:center;
    }

    .detailsCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
}
