.sorryDiv {
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.imgCont {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    max-width: 400px;
}

.content,
.image {
    transition: 0.3s ease-in-out;
    
}

.imgCont:hover > .content {
    opacity: 1;
}

.imgCont:hover > .image {
    scale: 1.1;
}

.image {
    display: block;
    width: 100%;
    
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-flow: dense;
}

.content {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
    
}