* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}



:root[data-theme="light"] {
  --text: #000000;
  --text-fade: #636363;
  --background: #ffffff;
  --primary: #0c39c0;
  --secondary: #f7f7f7;
  --secondary-select: #ededed;
  --accent: #000000;
  --background-invert: #000000;
  --text-invert: #ffffff;
}

:root[data-theme="dark"] {
  --text: #ffffff;
  --text-fade: #9c9c9c;
  --background: #000000;
  --primary: #3f6cf3;
  --secondary: #080808;
  --secondary-select: #121212;
  --accent: #ffffff;
  --background-invert: #ffffff;
  --text-invert: #000000;
}




html,
body {
  max-width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--background) !important;
  font-size: 100%;
  transition: 0.3s all ease-in-out;
}
.next-error-h1{
  border-color: var(--text-fade) !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: var(--text);
}


.card {
  background-color: var(--secondary);
}

/* 16px */

h1 {
  font-size: 3.652rem;
  /* 90.4px */
}

h2 {
  font-size: 3.00rem;
  /* 64px */
}

h3 {
  font-size: 2.327rem;
  /* 45.28px */
}

h4 {
  font-size: 1.999rem;
  /* 32px */
}

h5 {
  font-size: 1.414rem;
  /* 22.56px */
}

h6 {
  font-size: 1.08rem;
  /* 22.56px */
}

.icon-ext{
  color: var(--text) !important;
  background-color: var(--background) !important;
}
.icon-ext:hover {
  color: var(--text-invert) !important ;
  background-color: var(--background-invert) !important;
}
.icon-ext:hover p{
  color: var(--text-invert) !important ;
}

small {
  font-size: 0.707rem;
  /* 11.36px */
}



.circle-image{
  border-radius: 50%;
}




.icon {
  color: var(--text);
}

.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.subTitle {
  color: rgba(0, 0, 0, 0.4);
}


.floatingImage {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.link{
  color: var(--primary);
  text-decoration: underline;
}
@keyframes floating {
  0% {
      transform: translate(0, 0px);
  }

  50% {
      transform: translate(0, 10px);
  }

  100% {
      transform: translate(0, -0px);
  }
}


@media only screen and (max-width: 1000px) {
  .grid-2 {
    display: flex;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}