.navBar {
    min-width: 100%;
    padding-inline: 20px;
    padding-block: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    column-gap: 20px;
    list-style: none;

}

.themeCont {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.navBarCont {
    width: 100%;
}

.menuIcon {
    display: none !important;
}

.left {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    list-style: none;
    text-align: center;
}

.lst {
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    padding-top: .7rem;
    padding-bottom: .7rem;
    border-radius: 9999px;
    cursor: pointer;
    align-items: center;
    display: flex;
    background-color: var(--secondary);
    color: var(--text);
}
.lst:hover {
    background-color: var(--secondary-select);
}
.listModal{
    border-radius: 5px;
    margin-bottom: 10px;
}


@media only screen and (max-width: 800px) {
    .navBar {
        display: none;
    }
    .navBarCont{
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }
    .menuIcon {
        display: flex !important;
    }
}